<!DOCTYPE html>
<html>
  <head>
    <title>Rem1x y0ur name</title>
    <meta name="description" content="Rem1x your name">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="css/uikit.min.css" />
      <script src="js/uikit.min.js"></script>
      <script src="js/uikit-icons.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  </head>
  <body>
    <main>
      <div class="header">
        <h1 style="color:white;">
          <a class="uk-link-heading" href="https://github.com/mohitkyadav/cool-name-api" target="_blank">🄴nt3ⓡ 🅈0ⓤⓡ nam3 1n th3 b0x</a>
        </h1>
        <form uk-sticky="animation: uk-animation-slide-top; offset: 10; show-on-up: true;">
          <input id="mah-nam" type="text" placeholder="aye, sir!" required>
          <button id='coolify-submit' type="submit">coolify</button>
          <button id='uncoolify-submit' type="submit">uncoolify</button>
        </form>
      </div>
      <div class="content" uk-scrollspy="cls: uk-animation-slide-bottom-small; target: > div, div > .uk-card, .uk-card > .uk-card; delay: 100; repeat: true">
          <div class="uk-child-width-1-1@m uk-text-center uk-padding" uk-grid>
            <div>
                <div class="uk-card json-card uk-card-secondary uk-card-body">
                    <span id="demo-url" style="color: black; background: white;" class="uk-padding-small uk-width-1-1" >
                      submit input for demo
                    </span>
                </div>
            </div>
            <div>
                <div>
                  <div class="ur-name-card uk-overflow-auto uk-height-large uk-card uk-card-secondary uk-card-body">
                    <h3>Your cool names</h3>
                    <hr>
                    <section class="names">
                      <ul id="cool-names-list">
                      </ul>
                    </section>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </main>

    <footer>
        <a href="https://github.com/mohitkyadav/cool-name-api" target="_blank">ⓗttp5://g1thu6.c0m/m0h1tkyadav/c00l-nam3-apⓘ</a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
</html>
