<!DOCTYPE html>
<html>
  <head>
    <title>Rem1x y0ur name</title>
    <meta name="description" content="Rem1x your name">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  </head>
  <body>
    <main>
      <div class="header">
        <p>Enter y0ur name in the b0x</p>
        <form>
          <input id="mah-nam" type="text" maxlength="100" placeholder="y0ur name!">
          <button type="submit">coolify</button>
        </form>
      </div>
      <div class="content">
          <section class="dreams">
            <ul id="dreams">
            </ul>
          </section>
      </div>
    </main>

    <footer>
      Wassup!
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
