/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace !important;
}

body {
  width: 100%;
  color: white;
  background: black;
}

footer {
  background: #2a2a2a;
}

.content {
  max-width: 100%;
  margin: auto;
}

.header {
  padding: 10px 25px 10px 25px;
  width: 100%;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: deeppink;
  display: inline-block;
  width: 100%;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 4px 4px white;
}
.all-name-card, .ur-name-card, .json-card{
  border-radius: 3px !important;
  box-shadow: 4px 4px white !important;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
  box-shadow: 3px 3px black;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid black;
  box-shadow: 3px 3px black;
  cursor: pointer;
}

button:hover {
  background-color: rgb(47, 156, 219);
}

button:active {
  box-shadow: none;
}

.header h2 {
  color: white;
}

#cool-names-list h1::selection {
  background: deeppink;
  color: white;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track { 
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #534d4d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: deeppink; 
}
/* scrollbar */
